/*
	Filepath:    /var/www/html/src/css/forums.css
	Description: Custom styling for the Forums to match with the rest of the site's styling. Adapted from /var/www/html/src/css/main.css with changes noted.
	Author:      bernard
	Last Edited: 2020/08/06
*/

@font-face { /* updated */
	font-family: Avenir;
	src: url(https://scioly.org/src/fonts/avenir-book.ttf);
	font-weight: 400;
}
@font-face { /* updated */
	font-family: Avenir;
	src: url(https://scioly.org/src/fonts/avenir-medium.ttf);
	font-weight: 500;
}
/*@font-face {*/ /* removed - font missing characters */
/*	font-family: Avenir;
	src: url(https://scioly.org/src/fonts/avenir-heavy.ttf);
	font-weight: 700;
}*/
@font-face { /* updated */
	font-family: Avenir;
	src: url(https://scioly.org/src/fonts/avenir-black.ttf);
	font-weight: 900;
}
::-moz-selection { /* updated */
	background: #fee372;
}
::selection { /* updated */
	background: #fee372;
}
.navbar { /* updated */
	margin: 0;
}
.banner, /* updated */
.site-footer, /* updated */
.site-nav { /* updated */
	font-family: 'Avenir', sans-serif;
}
.banner,
.container,
.site-footer,
.site-nav,
#wrap { /* updated */
	padding-left: 100px;
	padding-right: 100px;
}
.banner {
	background: #fee372;
	color: #555555;
	font-size: 15px;
	line-height: 15px;
	padding-top: 14px;
	padding-bottom: 12px;
	text-align: center;
}
.banner p {
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 0;
}
.banner a {
	color: #555555;
	font-weight: 100;
	text-decoration: none;
}
.site-nav {
	background: #2e66b6;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	margin-bottom: 10px; /* updated */
	padding-top: 25px;
	padding-bottom: 28px;
	position: relative; /* updated */
	z-index: 1;
}
.site-nav > a {
	height: 50px; /* updated */
	text-decoration: none;
}
.site-nav > a img {
	float: left;
	height: 50px;
	margin-right: 15px;
	/*margin-top: -1px;*/ /* updated */
}
.site-nav > a span {
	float: left;
}
.site-nav .hamburger {
	cursor: hand;
	display: none;
	float: right;
	margin-top: -2px;
}
.site-nav .hamburger,
.site-nav .hamburger > div {
	height: 50px;
	vertical-align: middle;
}
.site-nav .hamburger > div {
	display: table-cell;
	float: none;
}
.site-nav .hamburger > div > div {
	background: #ffffff;
	height: 2px;
	margin: 6px 0;
	width: 25px;
	transition: 0.3s;
}
.site-nav .hamburger-toggle > div > div {
	opacity: 0;
}
.site-nav .hamburger-toggle > div > div:first-child {
	opacity: 1;
	transform: rotate(-45deg) translate(-5.5px, 6px);
	-webkit-transform: rotate(-45deg) translate(-5.5px, 6px);
}
.site-nav .hamburger-toggle > div > div:last-child {
	opacity: 1;     
	transform: rotate(45deg) translate(-5.5px, -6px);
	-webkit-transform: rotate(45deg) translate(-5.5px, -6px);
}
.site-nav > ul {
	float: right;
	list-style: none;
	margin-top: -7px; /* updated */
	z-index: 1; /* updated */
}
.site-nav > ul > li {
	float: left;
	margin-right: 20px;
}
.site-nav > ul > li:last-child {
	margin-right: 0;
}
.site-nav > ul > li > a {
	color: #ffffff;
	letter-spacing: 2px;
	padding: 7px 10px;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
}
.site-nav > ul > li > a.insert-button {
	background: #fee372;
	border-color: #fee372;
	border-style: solid;
	border-width: 1px;
	color: #555555;
	height: 19px; /* updated */
	line-height: 20px; /* updated */
	margin-top: 14px; /* updated */
	transition: 0.2s;
}
.site-nav > ul > li > a.insert-button:hover {
	background: transparent;
	color: #fee372;
}
.site-footer { /* updated */
	font-family: 'Avenir', sans-serif;
}
.site-footer {
	background: #f4f4f4;
	margin-top: 10px; /* updated */
	padding-top: 20px;
	padding-bottom: 32px;
}
.site-footer .tiles div {
	padding: 0;
}
.site-footer .tiles p {
	margin-bottom: 0; /* updated */
	text-align: left;
}
.site-footer h4 {
	color: #2e66b6;
	font-size: 16px;
	line-height: 22px; /* updated */
	font-weight: 500;
	margin-bottom: 10px;
	text-align: left;
	text-transform: uppercase;
}
.site-footer p,
.site-footer a {
	color: #555555;
	font-size: 13px;
	font-weight: 100;
	line-height: 15px;
	margin: 0 0 3px 0;
	text-decoration: none;
	text-transform: none;
}
div.tiles {
	margin: 0 -10px;
}
.tiles > div,
.tiles > a {
	/*background-color: #2e66b6;*/
	box-sizing: border-box;
	float: left;
	margin: 15px 10px 5px 10px;
	padding: 15px 20px 22px 20px;
	text-align: center;
	width: calc(20% - 20px);
	transition: opacity 0.3s;
}
.tiles::after {
	content: "";
	clear: both;
	display: table;
}
@media (max-width: 1200px) {
	.site-nav .hamburger {
		display: table-cell;
	}
	.site-nav > ul {
		background: #555555;
		display: none;
		left: 0; /* updated */
		/*margin-top: 28px;*/ /* updated */
		/*margin-left: -100px;*/ /* updated */
		/*margin-right: -100px;*/ /* updated */
		position: absolute;
		top: calc(100% + 7px); /* updated */
		width: 100%;
	}
	.site-nav > ul > li {
		float: none;
		line-height: 100%;
		margin: 25px 100px;
	}
	.site-nav > ul > li > a {
		display: block;
		padding: 0;
		width: 100%;
	}
	.site-nav > ul > li > a.insert-button,
	.site-nav > ul > li > a.insert-button:hover {
		background: none;
		border: none;
		color: #ffffff;
	}
}
@media (max-width: 900px) {
	.banner,
	.container,
	.site-footer,
	.site-nav,
	#wrap { /* updated */
		padding-left: 25px;
		padding-right: 25px;
	}
	.site-nav > ul {
		/*margin-left: -25px;*/ /* updated */
	}
	.site-nav > ul > li {
		margin-left: 25px;
		margin-right: 25px;
	}
	#wrap { /* updated */
		margin-top: 90px;
	}
}
@media (max-width: 800px) {
	#wrap { /* updated */
		margin-top: 0;
	}
}
@media (max-width: 700px) {
	.site-nav > ul > li { /* updated */
		margin-left: 20px;
	}
}
img.print-only { /* updated */
	display: none;
	height: 50px;
	margin-bottom: 25px;
}
@media print {
	div.banner, 
	div.site-nav,
	div.site-footer {
		display: none;
	}
	div.container,
	#wrap { /* updated */
		padding-left: 0;
		padding-right: 0;
	}
	.forabg, /* updated */
	.forumbg { /* updated */
		background-color: #cccccc;
	}
	.bg1, /* updated */
	.bg2, /* updated */
	.panel, /* updated */
	ul.forums { /* updated */
		background-color: #ffffff;
	}
	img.print-only { /* updated */
		display: block;
		height: 50px;
	}
}