/*
	Filepath:    /var/www/html/src/css/wiki.css
	Description: Custom styling for the Wiki to match with the rest of the site's styling.
	Author:      bernard
	Last Edited: 2020/08/06
*/

/* miscellaneous layout changes to accomodate the navigation bar */
body { height: fit-content; }
#mw-head { margin-top: 103px; }
#mw-panel { margin-top: 103px; padding-top: 53px; }
#p-logo { display: none; }
.mw-headline, b, strong { font-weight: 900; }
h2 .mw-headline { font-weight: normal; }
/* div#mw-panel, div#mw-head, div#bodyContent, div#footer { font-family: 'Arial'; } */
/* #bodyContent li { margin-left: 15px; } */
/* ul#pagehistory li, ul.mw-contributions-list li, .mw-specialpages-list ul li, li.mw-logline-delete { list-style: none; } */
ul li { list-style: none; list-style-image: none; }
.mw-parser-output ul li { list-style: disc; }
.mw-parser-output ul li ul li { list-style: circle; }
.mw-parser-output ul li ul li ul li { list-style: square; }
.toc ul li { list-style: none !important; }
.mw-body-content ol { margin: 0.3em 0 0 3.2em; }
#wpTextbox1 { font-family: monospace; }

/* removing graphics lines and setting colors */
html, body { background-color: #f4f4f4; }
div#mw-head { background-color: transparent }
div.mw-body { border-left: none; margin-top: 0.4em; }
.mw-body { border: none; }
div.vectorTabs, div.vectorTabs ul, div.vectorTabs ul li, div.vectorTabs span, div#mw-head div.vectorMenu h3 { background-image: none; }
#simpleSearch { background-image: none; border-radius: 0; }
#simpleSearch #searchInput { border-bottom: 1px solid #aaaaaa; }
#mw-page-base { background-color: #f4f4f4; background-image: none; }
li.selected { font-weight: bold; }

/* condensing the top of the page to make it shorter */
#mw-head { height: 70px; }
#right-navigation, #left-navigation { height: 2em; }
div.vectorTabs { height: 1.9em; }
.vectorTabs ul li { height: 28px; }
.vectorTabs ul li span a { padding-top: 5px; }
div.vectorMenu { margin-top: -10px; }
li#ca-unwatch, li#ca-watch { margin-top: 0; }
.vectorTabs #ca-unwatch.icon a, .vectorTabs #ca-watch.icon a { padding-top: 2.15em !important; }
#simpleSearch { background-color: transparent; border: none; margin-top: -4px; }
#mw-page-base { height: 4em; }

/* getting all the menus into one line and making the page full width */
/* #mw-panel { padding-top: 0; width: calc(100% - 0.5em); }
#mw-panel .portal .body { background-image: none; }
#mw-panel .portal .body li { display: inline; margin-right: 10px; }
#mw-panel #p-logo + .portal { margin-top: 0; padding-top: 0; }
#mw-panel div, #mw-panel div div ul, #mw-panel div div ul li { margin: 0; padding: 0; }
div#mw-panel h3#p-tb-label { float: left; margin-right: 10px; }
div#mw-panel div#p-tb { margin-top: -20px; }
#left-navigation { margin-left: 24px; }
div.mw-body { margin-left: 0; }
#footer { margin-left: 0; } */

/* defining margins and padding to match the nav bar */
#mw-panel { margin-left: 100px; padding-left: 0; width: 120px; } /* #mw-panel { padding-left: 100px; padding-right: 100px; width: calc(100% - 0.5em - 200px); } */
#mw-panel #p-logo + .portal, div#mw-panel div#p-tb { margin-left: -7px; }
div#mw-head div#p-personal { margin-right: 100px; right: 0; }
#right-navigation { margin-right: calc(100px - 15px); }
#left-navigation { padding-left: 63px; }
div#wrap-me-up { padding-left: 100px; padding-right: 100px; }
.mw-body { margin-left: 140px; }
#footer { margin-left: 140px; padding-left: 0; padding-right: 0; }

/* mobile responsive styling */
table:not(.wikitable) { display: table; }
div.mw-collapsible { max-width: 100%; }
/* a { word-break: break-all; } */
img { height: auto; max-width: 100%; }
.mw-body .firstHeading { hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; overflow: visible; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; }
pre { overflow: auto; }
@media (max-width: 2000px) {
	/* mobile friendly tables */
	table.wikitable { background-color: inherit; border: 0; display: inline-block; max-width: 100%; overflow-x: auto; width: fit-content; }
	table.wikitable caption { background-color: inherit; width: 100%; }
	table.wikitable tr { background-color: #f8f9fa; }
	div.thumb, div.thumbinner, div.thumbinner img { max-width: 100%; }
	div.thumbinner img { height: auto; }
	div.navbox { overflow-x: scroll; }
}
@media (max-width: 980px) {
	#left-navigation { margin-left: 176px; }
}
@media (max-width: 900px) {
	#mw-panel { margin-left: 0; padding-left: 25px; width: 120px; } /* #mw-panel { padding-left: 25px; padding-right: 25px; width: calc(100% - 0.5em - 50px); } */
	div#mw-head div#p-personal { margin-right: 25px; right: 0; }
	#right-navigation { margin-right: calc(25px - 10px); }
	#left-navigation { margin-left: 81px; }
	div#wrap-me-up { padding-left: 25px; padding-right: 25px; }
	div#content.mw-body, div#footer { margin-left: 120px; }
	th.navbox-group { white-space: initial; }
}
@media (max-width: 600px) {
	#mw-panel { display: none; }
	#left-navigation, #right-navigation { margin-top: 2.5em; }
	#left-navigation { margin-left: -39px; }
	div#mw-head div#p-personal { margin-left: -142px; }
	#p-personal li { margin-bottom: -5px; }
	div.vectorMenu h3#p-cactions-label { margin-top: -1px; }
	#simpleSearch { margin-top: -5px; min-width: 0; padding-right: 0; width: 0; }
	div#p-search, div#simpleSearch #searchInput { width: 45px; }
	div#simpleSearch #searchButton { display: none; }
	div#content.mw-body, div#footer { margin-left: 0; }
	.mw-body { margin-top: 0.8em; }
	.mw-body .firstHeading { font-size: 20px; }
}

/* print formatting */
@media print {
	html, body { background-color: transparent; }
	div#content.mw-body { width: 100%; }
	div#wrap-me-up { padding: 0; }
}