<head>
	<meta property="og:title" content="Science Olympiad Student Center"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://scioly.org/"/>

	<meta property="og:image" content="http://scioly.org/src/img/logo/logo_square.png"/>
	<meta property="og:image:secure_url" content="https://scioly.org/src/img/logo/logo_square.png"/> 
	<meta property="og:image:type" content="image/png"/> 
	<meta property="og:image:width" content="500"/> 
	<meta property="og:image:height" content="500"/>

	<meta property="og:description" content="A resource by and for Science Olympiad students, coaches, and alumni nationwide."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript" src="/src/js/jquery.min.js"></script>
	<script type="text/javascript" src="/src/js/php.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/src/css/main.css">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<div class="banner" style="background-color: #f4f4f4; color: #555555;"><span class="close" onclick="this.parentElement.style.display='none'; close_banner();">&times;</span><span class="message"><a href="https://scioly.org/chat.php" style="color: #555555;">This is a test announcement! We're redoing how banners appear on this site.</a></span></div><script type="text/javascript">
	var banner_id = "banner_" + 15;
	var banner_boolean = localStorage.getItem(banner_id);

	$(document).ready(function() {
		if (banner_boolean == "false") {
			$('.banner').hide();
		}
	});

	function close_banner() {
		localStorage.setItem(banner_id, "false");
	}
</script>
<style>
	.banner > .close {
		margin-left: 15px;
		float: right;
		font-size: 20px;
		line-height: 16px;
		cursor: pointer;
		transition: 0.3s;
	}
	.banner > .message {
		display: block;
		margin-right: 30px;
	}
</style>
<div class="site-nav">
	<a href="/">
		<img src="/src/img/logo/logo.png">
	</a>
	<div class="hamburger" onclick="hamburger(this)">
		<div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<ul>
		<li><a href="/forums">Forums</a></li>
		<li><a href="/wiki">Wiki</a></li>
		<li><a href="/tests">Test Exchange</a></li>
		<!-- <li><a href="/gallery">Image Gallery</a></li> -->
		<!-- <li><a href="/invitational">Invites</a></li> -->
		<li><a href="/chat">Chat</a></li>
		<li><a href="/login" class="button">Login</a></li>	</ul>
</div>
<img class="print-only" src="/src/img/logo/logo_black.png" style="max-width: 150px;"><div id="wrap"><head>
	<title>Rules - Science Olympiad Student Center</title>
	<meta property="og:title" content="Science Olympiad Student Center"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://scioly.org"/>
	<meta property="og:image" content="https://scioly.org/src/img/logo/logo_square.png"/>
	<meta property="og:description" content="A resource by and for Science Olympiad students, coaches, and alumni nationwide."/>
</head>
<body>
	<div class="container">
		<h2 id="site-rules">Scioly.org ("Science Olympiad Student Center," the "Site") Site Rules</h2>
		<p>The rules below apply sitewide, across Forums, the Wiki, Chat, the Test Exchange, any any other pages using the Scioly.org domain (https://scioly.org). Questions about these rules may be directed to the <a href="https://scioly.org/forums/memberlist.php?mode=group&g=5" target="_blank">site administrators</a> via private message in the Forums.</p>
		<ol>
			<li>No profanity or inappropriate language. This is a message board for a school activity that is meant for both high school and middle school students. Moreover, what you say on this site may be seen by parents, coaches, and/or tournament officials.</li>
			<li>Posts should have a legitimate purpose. Users should not post two word replies, personal attacks, malicious rumors, or advertisement for a paid service.</li>
			<li>We respect your right to disagree, but personal arguments should be conducted personally and not on a public forum.</li>
			<li>Use good judgment when deciding what content to leave in and take out. As a general rule of thumb: "When in doubt, leave it out."</li>
			<li>Signatures are a privilege, not a right. If people start using signatures that are too large, global restrictions will be put into effect.</li>
			<li>Please refrain from making your views (or another user's views) on religion or the lack thereof a point of discussion on the Site.</li>
			<li>Do not violate Science Olympiad Inc. copyrights. Scioly.org is not a place to get the rules, official <a href="https://www.soinc.org/events/rules-clarifications" target="_blank">rules changes</a>, or <a href="https://www.soinc.org/events/frequently-asked-questions" target="_blank">FAQs</a>; rather Scioly.org is a place to ask questions and share ideas.</li>
			<li>Failure to adhere to these rules will result in a warning and repeated misuse of the Forums, Wiki, Test Exchange, or other parts of the Site could result in a temporary or permanent ban.</li>
		</ol>

		<h2 id="resource-policy">Scioly.org ("Science Olympiad Student Center") Resource Policy</h2>
		<p>The Science Olympiad Student Center supports the concept of freely and openly sharing resources so that users of the Site may benefit from their contents. In order to maintain an environment of collaboration without placing undue value on such resources, users are asked to follow these policies:</p>
		<ol>
			<li>All sharing of tests on Scioly.org must occur in designated areas ("Test Exchanges"). Currently, this is limited to the <a href="/tests" target="_blank">Test Exchange</a>, the <a href="/wiki/index.php/Test_Exchange_Archive" target="_blank">
			Wiki</a>, and sponsored events such as <a href="/wiki/index.php/Scioly_Summer_Study_Session" target="_blank">Scioly Summer Study Session (SSSS)</a>.</li>
			<li>No solicitation for test trades on any part of the Site, including the Forums, Chat, and Wiki.</li>
			<li>Advertising of external sites or services primarily used for the trading of Science Olympiad resources is prohibited, and shall be treated as any other advertisement for a service per <em>Scioly.org Site Rules: Section 2</em>.</li>
			<li>Materials published by Science Olympiad, Inc. are under copyright and must not be uploaded to the site or submitted through any form of test sharing. Please see the <em>Science Olympiad, Inc. Copyright Notice</em>.</li>
			<li>Any full test sets from the current season (between the most recent release of rules and the end of the national tournament) to be posted on any of the Test Exchanges must have received approval for publishing by the tournament director of their respective tournament before sharing.</li>
			<li>All tests submitted to the various Test Exchanges are subject to takedown requests by the directors of the tournaments at which those tests were given.</li>
		</ol>

		<h2 id="copyright-notice">Science Olympiad, Inc. ("SO, Inc.") Copyright Notice</h2>
		<p>By using rules and any materials published by Science Olympiad, Inc., you agree to their terms of use, which apply on this site. Scioly.org cannot be held responsible for your misuse of Science Olympiad, Inc. materials through this site.</p>
		<p>Scioly.org policy dictates that our users are not to violate Science Olympiad Inc. copyrights. As such, follow this general guide for all Science Olympiad rules, including both official and draft versions of Science Olympiad rules ("Science Olympiad Rules").</p>
		<ol>
			<li>No screenshots, partial/full scans, or pictures of national Science Olympiad rules (draft or final) may be posted, uploaded, or requested on Scioly.org under any circumstances. <em>You cannot legally upload or republish the material here.</em> However, rules may be linked from their original source (e.g. <a href="https://www.soinc.org" target="_blank">soinc.org</a>) or quoted (with limitations, see below).</li>
			<li>When quoting rules, limit your posts to one line of rules, preferably paraphrased (but with attribution to Science Olympiad Rules). Direct quoting should be limited to issues regarding the phrasing or intent of Science Olympiad Rules.</li>
			<li>If you must refer to something larger than one line from Science Olympiad Rules, you should simply refer to the appropriate section number, subsection number, and/or line number (e.g. 2.a., 2.b., and 2.c.).</li>
			<li>Violations of these rules will result in bans or warnings assessed to your account, depending on how egregious the violation is.</li>
		</ol>

		<h2 id="legal-notice">Scioly.org ("Science Olympiad Student Center") Legal Notice</h2>
		<p>By accessing the website at https://scioly.org ("Scioly.org" or the "Site"), you are entering an agreement with Scioly.org and agree to the terms on this page (the "Terms"). If you do not wish to be bound by the Terms, you may not use or access this Site. If you are a registered user on this site, you may not share your login details or password with any other person, and you may not share or transfer your account. Scioly.org, in its sole discretion, may terminate your license at any time, for any reason, and without any notice.</p>
		<p>Scioly.org grants you a non-exclusive, non-transferable, revocable, limited license to use and access content ("Content") from the Site. Under this license you may retrieve and display Content from the Site on a computer screen or mobile device, print individual pages on paper and store such pages in electronic form on your computer or mobile device for your personal, non-commercial use. Content found on this Site may only be edited within the Site via web browser in the capacity allowed directly through the Site and its functions; Content may not be modified elsewhere, republished, transmitted, sold, or otherwise sub-licensed without the written consent of Scioly.org.</p>
		<p>By using the Site you agree to only upload, transmit, or reproduce materials you own and have permission to upload, transmit, or reproduce. By uploading, transmitting, or reproducing materials to the Site, you acknowledge that complete ownership of these materials is transferred to Scioly.org. The Site takes no responsibility for and does not assume any liability for any user content or linked websites or services submitted to the site. The Site is not liable for damages of any sort connected with your use of the Site.</p>

		<h2>Scioly.org ("Science Olympiad Student Center") Privacy Policy</h2>
		<p>Scioly.org (or the "Science Olympiad Student Center" or the "Site") collects information on you to provide the services you receive through the Site. Some information you provide directly by registering for the Site and submitting forms. Other data may be gathered automatically by recording how you interact with the Site. Information collected includes:</p>
		<ol>
			<li><b>Account information.</b> To register on this site, you provide a username, email address, and password. You may provide other optional information such as your date of birth, state of residence, and links to your social media profiles.</li>
			<li><b>Content you submit.</b> We collect content you submit including posts, uploaded files, private messages, and reports to moderators. The posts you make and files you upload may be visible to the public. Private messages are visible to you and their recipients, but may be visible to others users if the message is forwarded or reported.</li>
			<li><b>Log and usage data.</b> When you visit this Site, we may record your IP address, time of access, pages visited, services used, and links visited or clicked.</li>
			<li><b>Information from cookies.</b> Cookies may be collected and used by the Site to understand user activity and personalize content.</li>
		</ol>
		<p>Information collected is used primarily to enable your experience on the Site. This information also may be used to provide customer service, protect the safety of the Site and its users, and understand trends in usage. As a registered user, you may change some information you provide to the Site through the <a href="/forums/ucp.php?i=164" target="_blank">user control panel</a>. You may also change how you access the site to control access to cookies or the IP address associated with your visit. The personal information you provide is never shared by this Site with third-parties except: in an emergency, where required by law, to enforce Site policies, or with your consent.</p>
		<p>We reserve the right to change this Privacy Policy at any time. You are encouraged to review this policy whenever accessing the Site, and by continuing to use the Site, you agree to be bound by the most recent Privacy Policy.</p>

		<h2>Scioly.org ("Science Olympiad Student Center") Cookies Policy</h2>
		<p>Scioly.org uses cookies to provide our services across the Forums and Wiki. Some ways Scioly.org may use cookies include but are not limited to: using cookies to maintain sessions across the Forums and Wiki; using cookies to remember permissions and preferences.</p>
		<p>While cookies are not strictly necessary, they may provide you with a better experience with browsing the Site. You can control the use of cookies at the individual browser level. If you reject or delete cookies, our Site may no longer function as intended. By accessing our Site, and by continuing to use our Site, you agree to be bound by the most recent Cookies Policy.</p>

		<p style="text-align: right;"><em>This page was last modified on April 23, 2020. Policies are effective immediately.</em></p>
	</div>
</body>
</div><!-- closing tag for div#wrap -->
<div class="site-footer">
	<div class="tiles">
		<div>
			<h4>Connect</h4>
			<p><a href="https://scioly.org/forums/viewforum.php?f=1">Event Forums</a></p>
			<p><a href="https://scioly.org/forums/viewforum.php?f=6">Competition Forums</a></p>
			<p><a href="https://scioly.org/chat">Online Chat</a></p>
			<!-- <p><a href="https://scioly.org/watch">YouTube Channel</a></p> -->
		</div>
		<div>
			<h4>Learn</h4>
			<p><a href="https://scioly.org/wiki">Wiki</a></p>
			<p><a href="https://scioly.org/forums/viewforum.php?f=297">Question Marathons</a></p>
			<p><a href="https://scioly.org/tests">Test Exchange</a></p>
			<p><a href="https://scioly.org/wiki/index.php/Test_Exchange_Archive">Test Archive</a></p>
		</div>
		<div>
			<h4>Get Involved</h4>
			<p><a href="https://scioly.org/wiki/index.php/Starting_A_Science_Olympiad_Team">Starting a Team</a></p>
			<p><a href="https://scioly.org/wiki/index.php/How_to_Write_a_Practice_Test">Test Writing Guide</a></p>
			<p><a href="https://scioly.org/wiki/index.php/Category:Needs_Work">Wiki: Needs Work</a></p>
			<p><a href="https://scioly.org/wiki/index.php/Category:Student_Volunteer_Organizations">Volunteering</a></p>
		</div>
		<div>
			<h4>About</h4>
			<p><a href="https://scioly.org/about">History</a></p>
			<p><a href="https://scioly.org/rules">Site Rules</a></p>
			<p><a href="https://scioly.org/rules">Privacy Policy</a></p>
			<p><a href="https://www.facebook.com/scioly.org">Facebook Page</a></p>
		</div>
		<div>
			<h4>Disclaimer</h4>
			<p>Scioly.org is a place to ask questions and share ideas. This site is not the place to get event rules, official rules changes, or official clarifications.</p>
			<p><a href="https://scioly.org/bernard" style="color: transparent;">Click me! Click me!</a></p>
		</div>
	</div>
</div>
